<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body class="container">
<h1 class="text-center" th:text="${title}">Default Title </h1>
<nav th:replace="fragments :: navigation"></nav>
<!--<h1 th:text="Edit cheese + ${cheese.name} + (id= +${cheese.cheeseId}+)">Edit Cheese NAME (id = ID)</h1>-->
<div class="container">
    <form method="post">
        <div class="form-group">
            <label for="name-field">Cheese Name</label><br/>
            <input type="text" class="form-control"  id="name-field" name="name" th:value="${cheese.name}" />
        </div>
        <div class="form-group">
            <label for="desc-field">Description</label><br/>
            <input type="text" class="form-control" id="desc-field" name="description" th:value="${cheese.description}" />
        </div>
        <input type="hidden" th:value="${cheese.cheeseId}" name="cheeseId" />
        <button type="submit" class="btn btn-default">Edit Cheese</button>
    </form>
</div>
</body>
</html>