<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body class="container">

        <h1 class="text-center" th:text="${title}">Default Title </h1>
        <nav th:replace="fragments :: navigation"></nav>
        <p th:unless="${cheeses} and ${cheeses.size()}">no cheese :(</p>

        <div class=" cheese">
            <table class="table table-bordered">
                <tr>
                    <th>Cheese Name</th>
                    <th>Description</th>
                </tr>
                <tr th:each="cheese : ${cheeses}" >
                    <td th:text="${cheese}"> A cheese name</td>
                    <td th:text="${cheese}"> A cheese description</td>
                </tr>
            </table>
        </div>

        <div class="container">
            <form method="post" action="/cheese/remove">
                <select  name="cheese">

                    <tr th:each="cheese : ${cheeses}" >
                        <tr th:each="acheese : ${cheese}">
                            <td >
                                <option th:text="${cheese.getName()}" th:value="${cheese.getDescription()}">Volvo</option>
                            </td>
                        </tr>
                    </tr>
                </select>
                <input type="submit" value="Remove Cheese">
            </form>
        </div>

    </body>
</html>