<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>

        <h1 th:text="${title}">Default Title </h1>
        <nav th:replace="fragments :: navigation"></nav>
        <p th:unless="${cheeses} and ${cheeses.size()}">no cheese :(</p>

        <div class="container">
            <table class="table table-bordered">
                <tr>
                    <th>Cheese Name</th>
                    <th>Description</th>
                </tr>
                <tr th:each="cheese : ${cheeses}" >
                    <td th:text="${cheese.key}"> A cheese name</td>
                    <td th:text="${cheese.value}"> A cheese description</td>
                </tr>
            </table>
        </div>

        <div class="container">
            <form method="post" action="/cheese/remove">
                <select  name="cheese">

                    <tr th:each="cheese : ${cheeses}" >
                        <td >
                            <option th:text="${cheese.key}" th:value="${cheese.key}">Volvo</option>
                        </td>
                    </tr>
                </select>
                <input type="submit" value="Remove Cheese">
            </form>
        </div>

    </body>
</html>