<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<h1 class="text-center" th:text="${title}">Default Title </h1>
<div class="container">
    <h1 style="color:red" th:text="${error}"></h1>
    <form method="post" th:object="${user}">
        <div class="form-group">
            <label th:for="username">Username:</label>
            <input class="form-control" th:field="*{username}" th:value="${username}" />
            <span th:errors="*{username}"></span>
        </div>
        <div class="form-group">
            <label th:for="email">Email:</label>
            <input type="email" class="form-control"  th:field="*{email}" th:value="${email}" />
            <span th:errors="*{email}"></span>
        </div>
        <div class="form-group">
            <label th:for="password">Password:</label>
            <input type="password" class="form-control" th:field="*{password}" />
            <span th:errors="*{password}"></span>
        </div>
        <div class="form-group">
            <label th:for="verifyPassword">VerifyPassword:</label>
            <input type="password" class="form-control" th:field="*{verifyPassword}" />
            <span th:errors="*{verifyPassword}"></span>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
</body>
</html>